*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:Arial, sans-serif;
    background:#edf1f5;
}

/* HEADER */

.hero{
    background:#0b4268;
    height:330px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;
    color:white;
}

.profile-img{
    width:140px;
    height:140px;

    border-radius:50%;
    border:5px solid white;

    object-fit:cover;

    margin-bottom:15px;
}

.hero h1{
    font-size:42px;
    margin-bottom:10px;
}

.hero p{
    font-size:18px;
}

/* NAVBAR */

.navbar{
    background:#083654;
    position:sticky;
    top:0;
    z-index:1000;
}

.navbar ul{
    list-style:none;

    display:flex;
    justify-content:center;
}

.navbar ul li a{

    display:block;

    color:white;

    text-decoration:none;

    padding:16px 20px;

    font-weight:bold;
}

.navbar ul li a:hover{
    background:#0b4268;
}

/* MAIN */

.container{
    width:85%;
    max-width:1200px;
    margin:30px auto;
}

.card{
    background:white;

    padding:30px;

    margin-bottom:25px;

    border-radius:8px;

    box-shadow:0 2px 10px rgba(0,0,0,.08);
}

.card h2{
    color:#0b4268;
    margin-bottom:20px;
}

.card h3{
    margin:15px 0;
}

.card p{
    line-height:1.8;
}

.card ul{
    padding-left:20px;
}

.card li{
    margin-bottom:10px;
}

/* SKILLS */

.skills{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
}

.skill{
    background:#0b4268;
    color:white;

    padding:8px 15px;

    border-radius:5px;
}

/* BUTTON */

.btn{
    display:inline-block;

    margin-top:15px;

    background:#0d6efd;

    color:white;

    text-decoration:none;

    padding:12px 20px;

    border-radius:5px;
}

.btn:hover{
    background:#0b5ed7;
}

/* FOOTER */

footer{
    background:#0b4268;

    color:white;

    text-align:center;

    padding:25px;
}

/* MOBILE */

@media(max-width:768px){

    .hero{
        height:280px;
    }

    .hero h1{
        font-size:30px;
    }

    .container{
        width:95%;
    }

    .navbar ul{
        flex-wrap:wrap;
    }

}